.toutou-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-right: 2rem;
  height: fit-content;
  .done {
    text-decoration: white line-through;
    opacity: .4;
  }
}

.manager-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 2rem;
}

/* Tablets breakpoint */
@media only screen and (max-width: 900px) {
  .toutou-container {
    grid-template-columns: 1fr;
  }
}

/* Phones breakpoint */
@media only screen and (max-width: 600px) {
  .toutou-container {
    grid-template-columns: 1fr;
    margin-right: 0;
  }
  .manager-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .form-container {
    margin-top: 1rem;
    width: 100%;
  }
}
